<mat-card id="account-page" class="profile-card">
  <mat-card-header>
    <mat-card-title style="margin-bottom: 16px">Edit Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="profileForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Date of Birth"
          formControlName="dateOfBirth"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <!-- <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
      </mat-form-field> -->
      <mat-form-field class="full-width">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <input
          matInput
          placeholder="Upload New Profile Picture"
          formControlName="profilePic"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Bio" formControlName="bio" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <button type="button" (click)="updateLocation()">
          Update Location
        </button>
        <input matInput placeholder="Location" formControlName="location" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Type Interests seprated with comma"
          formControlName="interests"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions style="justify-content: center; margin-bottom: 8px">
    <button mat-stroked-button color="primary" (click)="updateProfile()">
      Save Changes
    </button>
  </mat-card-actions>
</mat-card>
